<NavLink
    class="flex items-center justify-start w-full p-2 pl-6 my-2 text-gray-800 transition-colors duration-200"
    CssClass="border-l-4 border-transparent hover:text-gray-800"
    ActiveClass="border-l-4 border-purple-500 dark:text-white"
    href="@Url"
    Match="NavLinkMatch.All">
    <span class="text-left">
        @Icon
    </span>
    <span class="mx-2 text-sm font-normal">
        @Title
    </span>
</NavLink>

@code
{
    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? Icon { get; set; }
}