<nav class="mt-6">
    <div>
        <MainNavLink Title="Home" Url="/">
            <Icon>
                <HomeIcon/>
            </Icon>
        </MainNavLink>
        <MainNavLink Title="Counter" Url="counter">
            <Icon>
                <FolderIcon/>
            </Icon>
        </MainNavLink>
        <MainNavLink Title="Fetch data" Url="fetchdata">
            <Icon>
                <FolderIcon/>
            </Icon>
        </MainNavLink>
    </div>
</nav>

@code {

}